body {
    background-color: #e9ecef; /* Lighter background for a modern look */
    color: #333; /* Darker text for readability */
}
.navbar-nav .nav-link {
    font-size: 1rem; /* Adjust the font size as needed */
    color: #333; /* Darker text for readability */
}
.container {
    border-radius: 5px; /* Optional: Add some border-radius for a softer look */
    padding: 20px;
    margin-top: 30px; /* Adjust the margin as needed */
}

.cdClass{
    background-color: #ffffff;
    border-radius: 10px;
}
